<footer class="main-footer">
	<nav>
		<div class="main-footer__cta">
			<p>Message us to join as a member today!</p>
		</div>
		<div>
			<a href="/">
				<img
					class="main-footer__logo"
					src="<%- rootPath %>assets/images/logos/vsa-vic-header.png"
					alt="VSA Victoria Logo"
				/>
			</a>
		</div>
		<ul class="main-footer__links">
			<li class="main-footer__link">
				<a href="<%- rootPath %>pages/about"> About Us </a>
			</li>
			<li class="main-footer__link">
				<a href="<%- rootPath %>pages/contact"> Contact us </a>
			</li>
		</ul>
		<div class="main-footer__social-media">
			<!-- Social media icons/links -->
			<div class="main-footer__social-media-link">
				<a href="https://www.facebook.com/vsavictoria/"><i class="fab fa-facebook-f"></i></a>
			</div>
			<div class="main-footer__social-media-link">
				<a href="https://www.instagram.com/vsa.vic/?hl=en"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="main-footer__social-media-link">
				<a href="https://www.linkedin.com/company/vsavictoria/about/"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<div class="main-footer__social-media-link">
				<a href="https://www.youtube.com/channel/UC5_oB_6wQa5R5q853akNNHA"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
		<div class="main-footer__copyright">
			<!-- date to be changed via JavaScript-->
			<p>© VSA Victoria <span id="copyright-year"></span></p>
		</div>
		<div class="main-footer__watermark">
			<p>Powered/Designed by <a href="https://github.com/bryanwyk">BW</a></p>
		</div>
	</nav>
</footer>
