$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

main {
    margin-top: 70.4px;
}

.text-highlight {
    font-weight: bold;
    border-bottom: 3px solid rgba(240, 116, 35, 1);
}

.img-container {
    position: relative;

    .img-container__image {
        //100% of the container which is the next block-level element which will take up all available space in the parent container.
        height: 100%;
        width: 100%;
    }
    .img-container__text-overlay {
        // https://stackoverflow.com/questions/7720730/how-to-align-absolutely-positioned-alement-to-center
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            margin: 0 0 10% 0;
            color: white;
        }
    }
    .img-container__image-underlay {
        filter: brightness(40%);
    }
}

.follow-us__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    

    i {
        color: white;   
        font-size: 1.5rem;

        &:hover {
            color: $pink;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
            transform: scale(1.1)
            
        }
    }

}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.default-cta__button {
    border: 2px $grey solid;
    padding: 5%;

    font-family: Roboto, san-serif;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: $grey;

    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    i {
        margin-left: 10%;
    }

    &:hover {
        cursor: pointer;
        border-color: $pink;
        color: $pink;
    }

    &:focus {
        outline: none;
    }
}