.hr-with-logo {
    position: relative;
    text-align: center;

    height: 1px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.logo {
    // https://stackoverflow.com/questions/18142461/horizontal-rule-with-an-image-centered
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    height: 50px;
    width: 50px;
    padding: 0 5px;
    z-index: 1;
}

.header-banner {
    background: url('../assets/photos/test.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
}

.header {
    margin-top: 75px;
}

.vsa-vic-logo {
    background: url('../assets/logos/vsa-vic-logo.png') no-repeat;
    background-size: 100% auto;
}

.vsa-monash-logo {
    background: url('../assets/logos/vsa-monash-logo.png') no-repeat;
    background-size: 100% auto;
}

.vsa-uom-logo {
    background: url('../assets/logos/vsa-uom-logo.png') no-repeat;
    background-size: 100% auto;
}

.vsa-rmit-logo {
    background: url('../assets/logos/vsa-rmit-logo.png') no-repeat;
    background-size: 100% auto;
}

.committee-container__name {
    text-align: center;
    margin-top: 60px;
}

.committee-container__members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;

    .member {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 5% 5%;

        .member__photo {
            height: 108px;
            width: 108px;
            margin-bottom: 15px;
        }

        .member__name, .member__position {
            text-align: center;
            vertical-align: top;
            font-family: Montserrat, sans-serif;
            font-size: 0.8rem;
        }

        .member__position {
            font-weight: 600;
        }
        .member__name {
            margin-top: 5px;
        }
    }
}
@media (min-width: 1024px) {
    .text-wrapper {
        max-height: 300px;
    }
    .header-highlight {
        width: 40%;
    }
}

@media (min-width: 1280px) {

    main {
        h1 {
            font-size: 4.5rem;
        }
    }
    .text-wrapper {
        max-height: 402px;
    }
    .text-wrapper {
        padding: 0 30px;
    }
}