$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

.contact-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;
}

.contact-form {
    width: 80%;
    max-width: 500px;
    margin: 0 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    label{
        display: block;
        width: 100%;
        margin: 3% 0 1% 0;
        font-family: Roboto, san-serif;
        font-size: 1rem;
    }
    input {
        margin-bottom: 10px;
        background-color: $white;
    }

    input[type="text"], input[type="email"], textarea{
        width: 100%;
        border: 2px solid #ccc;
        padding: 8px 5px;
        // ADD FONT OR INHERIT FONT
        font-family: Roboto, san-serif;

        &:focus {
            outline: none;
            border-color: $pink;
        }
    }

    textarea {
        resize: none;
    }

    :invalid {
        border-color: red !important;
        background: #faacac;
    }

    .contact-form__button {
        text-align: center;
        width: 50%;

        button {
            display: flex;
            justify-content: center;
            align-items: center;

            border: none;
            width: 100%;
            height: 50px;
            padding: 4% 10%;
            margin-top: 50px;
        
            font-family: Roboto, san-serif;
            font-weight: 900;
            font-size: 1rem;
            // text-align: center;
            text-transform: uppercase;

            color: white;
        
            background: $pink;

            &:hover {
                cursor: pointer;
                background: #fca5ce;
                text-shadow: none;
                color: white;
            }
        
            &:focus {
                outline: none;
            }
        }
    }
}

.contact-details-section {
    display: grid;
    grid-template-rows: repeat(4, [row-start] 1fr [row-end]);
    // margin: 50px 0;
}

.contact-details:not(:first-child) {
    margin: 50px 0;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-details__text {
    text-align: center;

}

.contact-details__logo-image {
    width: 75px;
    height: auto;
}

.contact-details__social-media {
    text-align: center;
    width: 80%;
    max-width: 530px;
    margin-top: 2%;
    i {
        color: $grey;
        margin: 0 8%;
        transition: color 0.2s;
        font-size: 15px;
    }
}

// .contact-details__text {
    
// }

.text--highlight {
    font-weight: 900;
    display: block;
}


@media (min-width: 1000px) {
    .contact-details-section{
        grid-template-rows: 2fr;
        grid-template-columns: repeat(2, 1fr);

        .contact-details {
            margin: 0;
        }
    }
}

@media (min-width: 1200px) {
    .contact-details-section{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
}