$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

.poster-section {
    margin: 0 10%;
}
.poster-section__highlighted-poster {
    width: 100%;
}

.poster-gallery__highlighted-slide {
    margin-top: 10%;
}

.poster-gallery__highlighted-slide--hidden {
    display: none;
}

.slide-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.scrolling-container {
    direction: ltr;

    width: 100%;
    height: 180px;
    padding-top: 10%;
    display: flex;
    
    flex-wrap: nowrap;
    overflow-x: auto;

    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;

    &:focus {
        outline: none;
    }
  
    .card {
        flex: 0 0 auto; // flex-grow, flex-shrink, flex-basis
        width: 30%;
        max-height: 127px;
        overflow: hidden;
        margin: 0 5px;
        transition: transform 0.4s;

        &:hover {
            // Scale image but stick to the bottom
            transform-origin: bottom;
            transform: scale(1.1);
        }
    }
}

.card--clicked {
    border: 2px $pink solid;
    // Keep the image scaled up even if we click on the previous/next buttons (it will go away on mobile if we don't have this as hover effects only apply while an element is still clciked on).
    transform-origin: bottom;
    transform: scale(1.1);
}

.filter-container {
    display: none;
}

.filter-button {
    border: 2px $grey solid;
    padding: 5%;

    font-family: Roboto, san-serif;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    color: $grey;

    background: transparent;

    &:hover {
        cursor: pointer;
        border-color: $pink;
        color: $pink;
    }

    &:focus {
        outline: none;
    }
}

.filter-mobile-container {
    // Size and position
    position: relative;
    width: 300px;
    margin: 50px auto;
    overflow: hidden;

    background: $white;
    border: 1px solid black;

    i {
        position: absolute;
        // Moves top edge to 50% of containing element and left edge to 90% of element. Therefore the top edge of the icon will be at the center of the containing element (but we want the center of the icon to be at the center!).
        top: 50%;
        left: 90%;
        // Translate moves the icon up by 50% OF ITS OWN SIZE (i.e. its height). Therefore, this moves the center of the icon to be at the center of the containing element.
        transform: translate(0, -50%);
        // To make the arrow not clickable, but the select box below clickable.
        pointer-events: none;
    }

}

select {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 15px 15px;

    // Removes default select icon and size/appearance.
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; // Does not allow user to select it as text
    background: rgba(0, 0, 0, 0.2);

    &:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}

.next {
    right: 0;
}

.poster-gallery__slideshow-container {
    position: relative;
}