@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap');

$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

.hero-section {
    height: 100vh;
    max-width: 100vw;

    display: grid;
    grid-template-rows: [row-1-start] 75% [row-1-end row-2-start] 25% [row-2-end];
    grid-template-columns: repeat(12, [col-start] 1fr);

    .hero-section__image {
        grid-row: row-1-start / row-2-end;
        grid-column: col-start 1 / col-start 13;

        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.35)), to(rgba(0,0,0,0.35))), url('../images/hero-image-1.jpg') center center no-repeat;

        background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('../images/hero-image-1.jpg') center center no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;

        height: 100%;
        width: 100%;

        display: -webkit-box;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;

        -webkit-transition: opacity 0.3s linear;

        transition: opacity 0.3s linear;
    }

    .hero-section__text h1 {
        letter-spacing: 0.2rem;
        text-align: center;

        color: $white;

        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);

        .hero-section__text-highlight {
            color: $pink;
        }
    }

    .hero-section__scroll-cta {
        grid-row: row-2-start;
        grid-column: col-start 1 / col-start 13;

        display: -webkit-box;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        justify-content: space-around;
        
        .scroll-cta__button {
            border: 2px white solid;
            padding: 10%;

            font-family: Roboto, san-serif;
            font-weight: 900;
            font-size: 1rem;
            text-align: center;
            color: white;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);

            background: transparent;

            &:hover {
                cursor: pointer;
                background: white;
                text-shadow: none;
                color: black;
            }

            &:focus {
                outline: none;
            }
        }

        .scroll-cta__arrow span{
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 5px solid $white;
            border-right: 5px solid $white;
            -webkit-animation: scroll-cta__arrow-animation 2s infinite;
                    animation: scroll-cta__arrow-animation 2s infinite;
        }
    }
}

@-webkit-keyframes scroll-cta__arrow-animation {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-32px,-32px);
                transform: rotate(45deg) translate(-32px,-32px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(0px,0px);
                transform: rotate(45deg) translate(0px,0px);
    }
}

@keyframes scroll-cta__arrow-animation {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-32px,-32px);
                transform: rotate(45deg) translate(-32px,-32px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(0px,0px);
                transform: rotate(45deg) translate(0px,0px);
    }
}

.presentation-section {
    padding-top: 15%;
    background: $white;
}

.presentation-section__intro {
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;

    height: 300px;

    h2 {
        color: $pink;
        font-size: 2.2rem;
    }

    p {
        margin: 10%;
        text-align: center;
    }
}

.presentation-section__chapters {
    margin-top: 10%;
    overflow: hidden;

    h2 {
        color: lightblue;
        text-align: center;
        font-size: 2.2rem;
        margin: 0;
        padding: 0 5%;
    }

    h3 {
        margin: 0;
        text-align: center;
    }
    .chapters__items {
        position: relative;
        margin: 5% 0;
        height: 900px;

        .chapters__item {
            position: absolute;
            background: lightblue;
            width: 100vw;
            height: 33.33%;

            display: -webkit-box;

            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            -webkit-box-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                    justify-content: center;

            -webkit-transition: -webkit-transform 0.3s linear;

            transition: -webkit-transform 0.3s linear;

            transition: transform 0.3s linear;

            transition: transform 0.3s linear, -webkit-transform 0.3s linear;

            img {
                max-width: 200px;
                max-height: 200px;
                margin-bottom: 20px;
            }
            &:nth-child(1) {
                -webkit-transform: translateX(-100vw);
                        transform: translateX(-100vw);
            }
            &:nth-child(2) {
                top: 33%;
                left: 0%;
                -webkit-transform: translateX(100vw);
                        transform: translateX(100vw);
            }
            &:nth-child(3) {
                top: 66%;
                left: 0%;
                -webkit-transform: translateX(-100vw);
                        transform: translateX(-100vw);
            }
        }

    }
    p {
        text-align: center;
        padding: 0 5%;
    }

    .chapters__header {
        opacity: 0;
    }
}

.slide-in {
    -webkit-transform: translateX(0vw) !important;
            transform: translateX(0vw) !important;
}

.presentation-section__latest-events {
    margin-top: 80px;
    text-align: center;
    
    h2 {
        color: #424b54;
        padding: 0 5%;
    
    }

    .latest-events__feed {
        display: grid;
        grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 1fr [col-2-end col-3-start] 1fr [col-3-end];
        grid-template-rows: [row-1-start] 1fr [row-1-end row-2-start] 1fr [row-2-end row-3-start] 1fr [row-3-end];

        width: 100vw;
        height: 600px;

        .feed__thumbnail {
            position: relative;
            height: 100%;
            width: 100%;
            //CSS3 blur filter creates a white outline around the image. To avoid this, scale the image a little larger and clip at the edges.
            -webkit-transform: scale(1.02);
                    transform: scale(1.02);

            &:nth-child(1) {
                grid-column: col-1-start / col-3-end;
                grid-row: row-1-start / span 1;
                .feed__thumbnail-image {
                    background-image: url('../images/feed/image-1.jpg');
                }
            }
            &:nth-child(2) {
                grid-column: col-1-start / col-3-end;
                grid-row: row-2-start / span 1;
                .feed__thumbnail-image {
                    background-image: url('../images/feed/image-2.jpg');
                }
            }
            &:nth-child(3) {
                grid-column: col-1-start / col-3-end;
                grid-row: row-3-start / span 1;
                .feed__thumbnail-image {
                    background-image: url('../images/feed/image-3.jpg');
                }
            }

            .feed__thumbnail-image {
                background-position: center;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
            
            .feed__thumbnail-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,0.5);
                
                opacity: 0;
                -webkit-transition: opacity 0.5s ease;
                transition: opacity 0.5s ease;

                // Text styling
                display: -webkit-box;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                        flex-direction: column;
                -webkit-box-pack: center;
                        justify-content: center;
                a {
                    color: $white;
                    text-decoration: none;
                    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
                    pointer-events: none;

                    letter-spacing: 0.3rem;
                    &:hover {
                        color: $pink;
                        cursor: pointer;
                    }
                }
            }

            &:hover {
                .feed__thumbnail-image {
                    -webkit-filter: blur(3px);
                            filter: blur(3px);
                }
                .feed__thumbnail-overlay {
                    opacity: 0.8;
                    a {
                        pointer-events: auto;
                    }
                }
            }
        }
    }
}

.fade-reveal {
    -webkit-animation: fade-reveal-animation 1s 1 forwards;
            animation: fade-reveal-animation 1s 1 forwards; 
}

@-webkit-keyframes fade-reveal-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-reveal-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-device-width: 1366px) {
    .hero-section .hero-section__image {
      background-attachment: scroll;
    }
  }

  