@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap");
.hero-section {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: [row-1-start] 75% [row-1-end row-2-start] 25% [row-2-end];
  grid-template-columns: repeat(12, [col-start] 1fr);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.hero-section .hero-section__image {
  grid-row: row-1-start/row-2-end;
  grid-column: col-start 1/col-start 13;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../images/hero-image-1.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s linear;
}
.hero-section .hero-section__text h1 {
  letter-spacing: 0.2rem;
  text-align: center;
  color: #ffffff;
}
.hero-section .hero-section__text h1 #hero-section__text-highlight {
  color: #ed8eba;
}
.hero-section .scroll-cta {
  grid-row: row-2-start;
  grid-column: col-start 1/col-start 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.hero-section .scroll-cta #scroll-cta__link #scroll-cta__button {
  border: 2px white solid;
  padding: 10%;
  font-family: Roboto, san-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background: transparent;
}
.hero-section .scroll-cta #scroll-cta__link #scroll-cta__button:hover {
  cursor: pointer;
  background: white;
  text-shadow: none;
  color: black !important;
}
.hero-section .scroll-cta #scroll-cta__link #scroll-cta__button:focus {
  outline: none;
}
.hero-section .scroll-cta .scroll-cta__arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.presentation-section {
  padding: 6rem 0rem;
  background: #ffffff;
}

.intro {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.intro h2 {
  color: #ed8eba;
  max-width: 15rem;
  font-size: 2.2rem;
}
.intro p {
  margin: 4rem 4rem;
  text-align: center;
}

.chapters {
  margin-top: 4rem;
  height: 870px;
  width: 100%;
  overflow: hidden;
}
.chapters h2 {
  color: lightblue;
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  padding: 0 5%;
}
.chapters h3 {
  margin: 0;
}
.chapters .chapters__items {
  position: relative;
  margin: 2rem 0;
}
.chapters .chapters__items .chapters__item {
  position: absolute;
  padding: 3rem 0;
  background: lightblue;
  max-height: 330px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s linear;
}
.chapters .chapters__items .chapters__item img {
  max-width: 30%;
  max-height: 30%;
  margin-bottom: 20px;
}
.chapters .chapters__items .chapters__item:nth-child(1) {
  padding-top: 3rem;
  padding-bottom: 3rem;
  transform: translateX(-100vw);
}
.chapters .chapters__items .chapters__item:nth-child(2) {
  padding-top: 3rem;
  padding-bottom: 3rem;
  top: 251.5px;
  transform: translateX(100vw);
}
.chapters .chapters__items .chapters__item:nth-child(3) {
  padding-top: 3rem;
  padding-bottom: 3rem;
  top: 503px;
  transform: translateX(-100vw);
}
.chapters p {
  text-align: center;
  padding: 0 5%;
}
.chapters .chapters__header {
  opacity: 0;
}

.slide-in {
  transform: translateX(0vw) !important;
}

#latest-events {
  margin-top: 6rem;
}

#latest-events h2 {
  color: #424b54;
  text-align: center;
  padding: 0 5%;
}

#latest-events #latest-events__feed {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}

#latest-events #latest-events__feed .thumbnail {
  width: 30%;
  height: 30%;
  background: cover center;
}

/*# sourceMappingURL=index.css.map */
