@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap');

$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

// .hero-section:before {
//     position: fixed;
//     content: "";
//     display: block;
//     width: 100vw;
//     height: 100vh;  
//     top: 0;
//     left: 0;

//     z-index: -10;

//     background-size: cover;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.35)), to(rgba(0,0,0,0.35))), url('../assets/photos/hero-image-1.jpg') center center no-repeat;
//     background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('../assets/photos/hero-image-1.jpg') center center no-repeat;
// }

.slideshow__tabs {
    // position: absolute;
    // top: 95%;
    // left: 50%;
    // margin-left: -150px;
    grid-row: row-3-start / row-3-end;
    grid-column: col-start 3 / col-start 13;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slideshow__tab {
    width: 50px;
    padding-top: 10px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.slideshow__tab--active {
    // background-color: rgba(255, 255, 255, 1); 
    border-bottom: 2.5px solid rgba(255, 255, 255, 1.0);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.hero-section {
    height: 100vh;
    max-width: 100vw;

    display: grid;
    grid-template-rows: [row-1-start] 50% [row-1-end row-2-start] 40% [row-2-end row-3-start] 10% [row-3-end];
    grid-template-columns: repeat(12, [col-start] 1fr);

    .hero-section__slideshow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        
        .slideshow__slide {
            height: 100vh;
            width: 100vw;
            transition: opacity 1s ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0;
            
            &:nth-child(1) {
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.55)), to(rgba(0,0,0,0.55))), url('../assets/photos/hero-image-1.jpg') center center no-repeat;
                background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('../assets/photos/hero-image-1.jpg') center center no-repeat;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }
            &:nth-child(2) {
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.55)), to(rgba(0,0,0,0.55))), url('../assets/photos/hero-image-2.jpg') center center no-repeat;
                background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('../assets/photos/hero-image-2.jpg') center center no-repeat;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }

            &:nth-child(3) {
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.55)), to(rgba(0,0,0,0.55))), url('../assets/photos/hero-image-4.jpg') center center no-repeat;
                background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('../assets/photos/hero-image-4.jpg') center center no-repeat;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }

            &:nth-child(4) {
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.55)), to(rgba(0,0,0,0.55))), url('../assets/photos/hero-image-3.jpg') center center no-repeat;
                background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('../assets/photos/hero-image-3.jpg') center center no-repeat;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }
        }
    }

    .hero-section__text {
        grid-row: row-1-start / row-2-end;
        grid-column: col-start 1 / col-start 13;

        display: -webkit-box;
        display: flex;
        justify-content: center;
        align-items: center;

        -webkit-transition: opacity 0.3s linear;

        transition: opacity 0.3s linear;
    }

    .hero-section__text h1 {
        letter-spacing: 0.2rem;
        text-align: center;

        width: 90%;

        color: $white;

        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);

        .hero-section__text-highlight {
            color: $pink;
        }
    }

    .hero-section__scroll-cta {
        grid-row: row-2-start;
        grid-column: col-start 1 / col-start 13;

        display: -webkit-box;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        justify-content: space-around;
        
        .scroll-cta__button {
            border: 2px white solid;
            padding: 10px;

            font-family: Roboto, san-serif;
            font-weight: 900;
            font-size: 1rem;
            text-align: center;
            color: white;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);

            background: transparent;

            &:hover {
                cursor: pointer;
                background: white;
                text-shadow: none;
                color: black;
            }

            &:focus {
                outline: none;
            }
        }

        .scroll-cta__arrow span{
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 5px solid $white;
            border-right: 5px solid $white;
            -webkit-animation: scroll-cta__arrow-animation 2s infinite;
                    animation: scroll-cta__arrow-animation 2s infinite;
        }
    }
}

@-webkit-keyframes scroll-cta__arrow-animation {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-32px,-32px);
                transform: rotate(45deg) translate(-32px,-32px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(0px,0px);
                transform: rotate(45deg) translate(0px,0px);
    }
}

@keyframes scroll-cta__arrow-animation {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-32px,-32px);
                transform: rotate(45deg) translate(-32px,-32px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(0px,0px);
                transform: rotate(45deg) translate(0px,0px);
    }
}

.presentation-section {
    // padding-top: 15%;
    background: $white;
}

.presentation-section__intro {
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;

    padding-top: 75px;

    h2 {
        color: $pink;
        font-size: 2.2rem;
    }

    p {
        margin: 0 10%;
        margin-top: 30px;
        text-align: center;
        max-width: 742px;
    }
}

.presentation-section__chapters {
    margin-top: 75px;
    overflow: hidden;

    h2 {
        color: rgb(155, 230, 244);
        // color: black;
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 36px;
    }

    h3 {
        margin: 0;
        text-align: center;
    }
    .chapters__items {
        position: relative;
        margin-top: 16px;
        height: 800px;
    }
    p {
        text-align: center;
        padding: 0 5%;
    }

    .chapters__header {
        opacity: 0;
    }
}

.chapters__item {
    position: absolute;
    background-color: #ACECF7;
    width: 100vw;
    height: 25.1%;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;

    -webkit-transition: -webkit-transform 0.3s linear;

    transition: -webkit-transform 0.3s linear;

    transition: transform 0.3s linear;

    transition: transform 0.3s linear, -webkit-transform 0.3s linear;

    img {
        max-width: 150px;
        max-height: auto;
    }
    &:nth-child(1) {
        -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
    }
    &:nth-child(2) {
        top: 25%;
        left: 0%;
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
    &:nth-child(3) {
        top: 50%;
        left: 0%;
        -webkit-transform: translateX(100vw);
                transform: translateX(100vw);
    }
    &:nth-child(4) {
        top: 75%;
        left: 0%;
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
}

.slide-in {
    -webkit-transform: translateX(0vw) !important;
            transform: translateX(0vw) !important;
}

.presentation-section__index {
    display: block;
    width: 100vw;
    height: 800px;
}

.index__committee-direct {
    overflow: hidden;
    height: 33.33%;
    position: relative;
    .img-container {
            background: url('../assets/photos/index-1-dt.png') center center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
}

.index__events-direct {
    overflow: hidden;
    height: 33.33%;
    position: relative;
    .img-container {
        background: url('../assets/photos/index-2-dt.png') center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}

.index__sponsors-direct {
    overflow: hidden;
    height: 33.33%;
    // filter: grayscale(1);
    position: relative;
    .img-container {
        background: url('../assets/photos/index-3.png') center center;
        background-size: cover;
        height: 100%;
    }
}

.direct-button {
    position: absolute;
    color: white;
    border-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

    &:hover {
        cursor: pointer;
        background: white;
        text-shadow: none;
        color: black;
    }
}


.presentation-section__latest-events {
    padding: 75px 8%;
    opacity: 0;
    text-align: center;
    h2 {
        color: $grey;
    }
}

.video-container {
    // This class is used to restrict the size of the youtube video as we resize the window.
    max-width: 622px;
    margin: 0 auto; // to center the video
    width: 100%;
    height: auto;

    .video-container__wrapper {
        // https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        margin-top: 75px;
        height: 0;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
    
            width: 100%;
            height: 100%;
        }
    }
}

.latest-events__latest-event {
    display: flex;
    justify-content: center;
}

.latest-event__wrapper {
    position: relative;
    margin-top: 75px;
    width: 315px;
}

.latest-event__poster {
    width: 100%;
    cursor: pointer;
    // max-width: 350px;
    // height: auto;
    max-height: 375px;
    width: auto;
    
}

.latest-event__poster-badge {
    position: absolute;
    top: -4%;
    left: -3%;
    color: white;
    padding: 10px 20px 10px 20px;
    width: 150px;
    background: linear-gradient(to right, $pink, rgb(235, 158, 195));
    box-shadow: 5px 5px 8px #21212169;

    font-family: Roboto, san-serif;
    font-weight: 600;
    font-size: 1rem;
}

.fade-reveal {
    -webkit-animation: fade-reveal-animation 1s 1 forwards;
            animation: fade-reveal-animation 1s 1 forwards; 
}

@-webkit-keyframes fade-reveal-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-reveal-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 750px) {
    .chapters__items {
        display: flex;
        width: 100%;
        height: auto !important;
        opacity: 0;

    }
    .chapters__item {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 25vw;
        transform: none !important;
        height: 200px !important;
    }

    // .presentation-section__latest-events {
    //     margin-top: 90px;
    // }

    .presentation-section__index {
        display: grid;
        grid-template-rows: [row-1-start] 1fr [row-1-end row-2-start] 1fr [row-2-end];
        grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 1fr [col-2-end];
        grid-template-areas:    "index-1 index-2"
                                "index-3 index-3";
    }
    .index__committee-direct {
        grid-area: index-1;
        height: 100%;
    }
    
    .index__events-direct {
        grid-area: index-2;
        height: 100%;
    }
    
    .index__sponsors-direct {
        grid-area: index-3;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .latest-events-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .video-container {
            margin: 0;
        }
    }
    .slideshow__tabs {
        // position: absolute;
        // top: 95%;
        // left: 50%;
        // margin-left: -150px;
        grid-column: col-start 2 / col-start 6;
        // width: 80%;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

// @media only screen and (max-device-width: 1366px) {
//     .hero-section .hero-section__image {
//       background-attachment: scroll;
//     }
//   }

.header--border-highlight {
    display: inline-block;
    border-left: $pink 8px solid;
    padding-left: 30px;
}
