@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap");
.slideshow__tabs {
  grid-row: row-3-start/row-3-end;
  grid-column: col-start 3/col-end 10;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slideshow__tab {
  width: 15%;
  padding-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.slideshow__tab--active {
  border-bottom: 2.5px solid white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.hero-section {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: [row-1-start] 65% [row-1-end row-2-start] 25% [row-2-end row-3-start] 10% [row-3-end];
  grid-template-columns: repeat(12, [col-start] 1fr);
}
.hero-section .hero-section__slideshow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.hero-section .hero-section__slideshow .slideshow__slide {
  height: 100vh;
  width: 100vw;
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}
.hero-section .hero-section__slideshow .slideshow__slide:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url("../assets/photos/hero-image-1.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/photos/hero-image-1.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.hero-section .hero-section__slideshow .slideshow__slide:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url("../assets/photos/hero-image-2.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/photos/hero-image-2.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.hero-section .hero-section__slideshow .slideshow__slide:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url("../assets/photos/hero-image-4.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/photos/hero-image-4.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.hero-section .hero-section__slideshow .slideshow__slide:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url("../assets/photos/hero-image-3.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/photos/hero-image-3.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.hero-section .hero-section__text {
  grid-row: row-1-start/row-2-end;
  grid-column: col-start 1/col-start 13;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.hero-section .hero-section__text h1 {
  letter-spacing: 0.2rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.hero-section .hero-section__text h1 .hero-section__text-highlight {
  color: #ed8eba;
}
.hero-section .hero-section__scroll-cta {
  grid-row: row-2-start;
  grid-column: col-start 1/col-start 13;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}
.hero-section .hero-section__scroll-cta .scroll-cta__button {
  border: 2px white solid;
  padding: 10px;
  font-family: Roboto, san-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background: transparent;
}
.hero-section .hero-section__scroll-cta .scroll-cta__button:hover {
  cursor: pointer;
  background: white;
  text-shadow: none;
  color: black;
}
.hero-section .hero-section__scroll-cta .scroll-cta__button:focus {
  outline: none;
}
.hero-section .hero-section__scroll-cta .scroll-cta__arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  -webkit-animation: scroll-cta__arrow-animation 2s infinite;
  animation: scroll-cta__arrow-animation 2s infinite;
}

@-webkit-keyframes scroll-cta__arrow-animation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-32px, -32px);
    transform: rotate(45deg) translate(-32px, -32px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
  }
}
@keyframes scroll-cta__arrow-animation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-32px, -32px);
    transform: rotate(45deg) translate(-32px, -32px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
  }
}
.presentation-section {
  background: #ffffff;
}

.presentation-section__intro {
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  height: 300px;
  padding-top: 20%;
}
.presentation-section__intro h2 {
  color: #ed8eba;
  font-size: 2.2rem;
}
.presentation-section__intro p {
  margin: 0 10%;
  text-align: center;
}

.presentation-section__chapters {
  margin-top: 20%;
  overflow: hidden;
}
.presentation-section__chapters h2 {
  color: #ACECF7;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 10%;
}
.presentation-section__chapters h3 {
  margin: 0;
  text-align: center;
}
.presentation-section__chapters .chapters__items {
  position: relative;
  margin: 5% 0;
  height: 800px;
}
.presentation-section__chapters .chapters__items .chapters__item {
  position: absolute;
  background-color: #ACECF7;
  width: 100vw;
  height: 25.1%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.presentation-section__chapters .chapters__items .chapters__item img {
  max-width: 150px;
  max-height: auto;
}
.presentation-section__chapters .chapters__items .chapters__item:nth-child(1) {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}
.presentation-section__chapters .chapters__items .chapters__item:nth-child(2) {
  top: 25%;
  left: 0%;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}
.presentation-section__chapters .chapters__items .chapters__item:nth-child(3) {
  top: 50%;
  left: 0%;
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}
.presentation-section__chapters .chapters__items .chapters__item:nth-child(4) {
  top: 75%;
  left: 0%;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}
.presentation-section__chapters p {
  text-align: center;
  padding: 0 5%;
}
.presentation-section__chapters .chapters__header {
  opacity: 0;
}

.slide-in {
  -webkit-transform: translateX(0vw) !important;
  transform: translateX(0vw) !important;
}

.presentation-section__latest-events {
  margin-top: 20%;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  opacity: 0;
}
.presentation-section__latest-events h2 {
  color: #424b54;
  border-left: #ed8eba 8px solid;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  margin-top: 20%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.latest-events__latest-event {
  position: relative;
  margin-top: 20%;
}

.latest-event__poster {
  width: 100%;
  cursor: pointer;
}

.latest-event__poster-badge {
  position: absolute;
  top: -4%;
  left: -3%;
  color: white;
  padding: 10px 20px 10px 20px;
  background: linear-gradient(to right, #ed8eba, #eb9ec3);
  box-shadow: 5px 5px 8px #21212169;
  font-family: Roboto, san-serif;
  font-weight: 600;
  font-size: 1rem;
}

.fade-reveal {
  -webkit-animation: fade-reveal-animation 1s 1 forwards;
  animation: fade-reveal-animation 1s 1 forwards;
}

@-webkit-keyframes fade-reveal-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-reveal-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
