$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:    "main"
                            "footer";
}

header {
    a {
        font-weight: 400;
        font-family: Roboto, san-serif;
    }
}

main {
    grid-area: main;

    height: 97%;
    h1 {
        font-family: Bebas Neue, san-serif;
        font-size: 4.5rem;
    }
    h2 {
        font-weight: 900;
        font-family: Roboto, san-serif;
        font-size: 2.2rem;
    }
    h3 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;  
    }
    p {
        font-family: Montserrat, sans-serif;
        line-height: 1.9rem;
    }
    a {
        font-weight: 400;
        font-family: Roboto, san-serif;  
    }
}

footer {
    font-family: Montserrat, sans-serif;
    a {
        color: $white;
    }
    .main-footer__copyright {
        color: $grey;
        text-align: center;
    }
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 70.4px;
    position: fixed;

    transition: background-color 300ms;

    z-index: 100;
}

.main-header--transparent {
    background: transparent;
}

.header__element--white {
    background: $white;
}

.header__element--grey {
    background: $grey;
}

.main-header__brand {
    cursor: pointer;

    margin-right: 160px;
    margin-bottom: 5px;

    img {
        height: 3rem; 
    }
}

.image_off, .main-header__brand:hover .image_on {
    display: none;
}

.image_on, .main-header__brand:hover .image_off {
    display: block;
}

.brand-hover--disable {
    display: block;
}

.brand-alt-hover--disable {
    display: none;
}

.main-header__menu {
    display: flex;
    align-items: center;

    label {
        margin-left: 10px;
        font-size: 1.1rem;
        font-family: Montserrat, sans-serif;
        font-weight: 600;  
        color: $pink;
    }
}

.toggle-button {
    cursor: pointer;

    background-color: transparent;
    height: 28.75px;
    padding: 0;
    border: none;
    outline: none;

    .toggle-button__bar {
        display: block;
        width: 24px;
        height: 3.2px;
        margin: 4.8px 0;
        transition: background 0.3s;
        border-radius: 15%;
    }
    .toggle-button__bar-1--clicked {
        animation: toggle-button__bar-1-clicked__animation 0.3s 1 forwards;
    }

    .toggle-button__bar-2--clicked {
        animation: toggle-button__bar-2-clicked__animation 0.3s 1 forwards;
    }

    .toggle-button__bar-3--clicked {
        animation: toggle-button__bar-3-clicked__animation 0.3s 1 forwards;
    }

    .toggle-button__bar-1--clicked-off {
        animation: toggle-button__bar-1-clicked-off__animation 0.3s 1 forwards;
    }

    .toggle-button__bar-2--clicked-off {
        animation: toggle-button__bar-2-clicked-off__animation 0.3s 1 forwards;
    }

    .toggle-button__bar-3--clicked-off {
        animation: toggle-button__bar-3-clicked-off__animation 0.3s 1 forwards;
    }
}

@keyframes toggle-button__bar-1-clicked__animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(8px) rotate(45deg);
    }
}

@keyframes toggle-button__bar-2-clicked__animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes toggle-button__bar-3-clicked__animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@keyframes toggle-button__bar-1-clicked-off__animation {
    0% {
        transform: translateY(8px) rotate(45deg);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes toggle-button__bar-2-clicked-off__animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toggle-button__bar-3-clicked-off__animation {
    0% {
        transform: translateY(-8px) rotate(-45deg);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

.mobile-nav {
    position: fixed;
    // menu has a z-index of 100, and as mobile-nav is defined after menu in the html file, it will overlay the MENU button with the same z-index. Note that z-index is relative. Therefore, mobile-nav by default is on the same level as main-header at z-level: 100. Therefore, mobile-nav needs to have a lower z-index explicitly defined where z-level: -1 really means z-level: 99 (as it is relative!)
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .mobile-nav__background{
        position: absolute;
        z-index: -2;
        height: 100vh;
        width: 100vw;

        transform: translateY(-100vh);
        transition: transform 0.3s linear;
        background: white;
    }

    .mobile-nav__background--open {
        transform: translateY(0vh);
    }

    .mobile-nav__background--close {
        transform: translateY(-100vh);
    }

    .mobile-nav__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        list-style: none;
        margin: 0 auto;
        padding: 0;
        opacity: 0;
        // Have to make sure the fadeout is shorter than the time needed to fade out the background.
        transition: opacity 0.2s linear;
    
        .mobile-nav__item {
            margin: 32px 0;
    
            a {
                font-size: 2rem;
                color: black;
                text-decoration: none;
                &:hover {
                    color: $pink;
                }
            } 
        }
    }

    .mobile-nav__items--reveal {
        opacity: 1;
        transition-delay: 0.4s;
    }
    
    .mobile-nav__items--hide {
        opacity: 0;
        transition-delay: 0s;
    }    
}

.mobile-nav__item-highlight {
    width: 0%;
    height: 3px;
    background: $pink;
    transition: width 0.5s;
    margin-top: 5px;
}

.mobile-nav__item-highlight--active {
    animation: mobile-nav__item-highlight-animation 0.4s forwards;
}

@keyframes mobile-nav__item-highlight-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.mobile-nav__hide{
    display: none;
}

.mobile-nav__open{
    display: flex;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
    grid-area: footer;

    .main-footer__links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-footer__link {
            margin: 8px 0;

            a {
                color: white;
                text-decoration: none;   
                
                &:hover, &:active {
                    color: #ccc;
                }
            }
        }
    }
}

.social-media__links {
    display: flex;
    justify-content: center;
    align-items: center;

    .social-media__links-icon__circle {
        width: 40px;
        height: 40px;
        background: grey;
        margin: 5px 5px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 50%;
    
        &:hover {
            background-color: $pink;
            cursor: pointer;
        }
    }
}

.hidden {
    opacity: 0;
}

.unclickable {
    pointer-events: none;
}