$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:400,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:    
        "main"
        "footer";
}

main {
    grid-area: main;

    height: 97%;
    font-family: Roboto, san-serif;
    h1 {
        font-weight: 900;
    }
    p {
        font-weight: 400;
    }
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 4.4rem;
    position: fixed;
    top: 0;
    left: 0;

    transition: background-color 300ms;

    z-index: 100;

}

.main-header--transparent {
    background: transparent;
}

.header__element--white {
    background: $white;
}

.header__element--grey {
    background: $grey;
}


.brand {
    margin-right: 10rem;
    margin-top: 0.5rem;

    cursor: pointer;
}

.brand img {
    height: 3rem;
}

.image_off, .brand:hover .image_on {
    display: none;
}


.image_on, .brand:hover .image_off {
    display: block;
}

.brand-hover--disable {
    display: block !important;
}

.brand-alt-hover--disable {
    display: none !important;
}

.toggle-button {
    background-color: transparent;
    padding: 0;
    height: 1rem;
    
    border: none;
    cursor: pointer;
}

.toggle-button__bar {
    display: block;
    width: 100%;
    padding: 0.1rem 0.7rem;
    margin: 0.3rem 0;
}

.mobile-nav {
    z-index: 1;
    display: flex;
    position: fixed;
    background-color: $white;
    width: 50%;
}

.mobile-nav__hidden{
    display: none;
}

.mobile-nav__reveal{
    display: flex;
}

.mobile-nav__items {
    list-style: none;
}

.hero-section {
    height: 100vh;
    max-width: 100vw;


    display: grid;
    grid-template-rows: [row-1-start] 84% [row-1-end row-2-start] 16% [row-2-end];
    grid-template-columns: repeat(12, [col-start] 1fr);

    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

    .hero-section__image {
        grid-row: row-1-start / row-2-end;
        grid-column: col-start 1 / col-start 13;
        background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('../images/hero-image-1.jpg') center no-repeat fixed;
        background-size: cover;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: opacity 0.3s linear;



        // mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    }

    // .hero-section__text {
    //     max-width: 17rem;
    // }

    .hero-section__text h1 {
        font-family: Bebas Neue;
        letter-spacing: 0.2rem;
        font-size: 4.5rem;
        text-align: center;

        color: $white;

        #hero-section__text-highlight {
            color: $pink;
        }
    }

    .scroll-cta {
        grid-row: row-2-start;
        grid-column: col-start 1 / col-start 13;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .scroll-cta__arrow span{
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 5px solid $white;
            border-right: 5px solid $white;
            transform: rotate(45deg);
            animation: animate 2s infinite;
        }

        #scroll-cta__text {
            width: 40%;
            a {
                text-decoration: none;
                color: white;
            }
            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
                background: white;
                text-shadow: none;

                a {
                    color: black;
                }
            }
            background: transparent;
            font-family: Roboto, san-serif;
            font-weight: 900;
            font-size: 1rem;
            position: sticky;
            top: 10%;

            border: 2px white solid;
            padding: 3%;
            text-align: center;
            vertical-align: center;

            text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
        }

    }
    
}

.introduction {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    background: $white;
    padding: 4rem 0rem;

    h1 {
        margin: 0 0 0 3rem;
        color: $pink;
        max-width: 9.6rem;
    
        text-align: left;
    
        font-size: 2.2rem;
    }

    p {
        margin: 2.5rem 4rem;
        text-align: center;
    }
}

.chapter {
    h1 {
        color: $grey;
        text-align: center;
        font-size: 2.2rem;
        margin: 0;
    }
    .chapter__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2.5rem 0;


        img {
            max-width: 30%;

        }

    }
}


.main-footer {
    grid-area: footer;
    padding: 2rem;
    background-color: black;
}



.hidden {
    opacity: 0;
}

.border-close {
    border-width: 0;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-16px,-16px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(-8px,-8px);
    }
}