@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
}

header a {
  font-weight: 400;
  font-family: Roboto, san-serif;
}

main {
  grid-area: main;
  height: 97%;
}
main h1 {
  font-family: Bebas Neue, san-serif;
  font-size: 4.5rem;
}
main h2 {
  font-weight: 900;
  font-family: Roboto, san-serif;
  font-size: 2.2rem;
}
main h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}
main p {
  font-family: Montserrat, sans-serif;
  line-height: 1.9rem;
}
main a {
  font-weight: 400;
  font-family: Roboto, san-serif;
}

footer {
  font-family: Montserrat, sans-serif;
}
footer a {
  color: #ffffff;
}
footer .main-footer__copyright {
  color: #424b54;
  text-align: center;
}

.main-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  width: 100vw;
  height: 70.4px;
  position: fixed;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  z-index: 100;
}

.main-header--transparent {
  background: transparent;
}

.header__element--white {
  background: #ffffff;
}

.header__element--grey {
  background: #424b54;
}

.main-header__brand {
  cursor: pointer;
  margin-right: 160px;
  margin-bottom: 5px;
}
.main-header__brand img {
  height: 3rem;
}

.image_off, .main-header__brand:hover .image_on {
  display: none;
}

.image_on, .main-header__brand:hover .image_off {
  display: block;
}

.brand-hover--disable {
  display: block;
}

.brand-alt-hover--disable {
  display: none;
}

.main-header__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.toggle-button {
  cursor: pointer;
  background-color: transparent;
  height: 28.75px;
  padding: 0;
  border: none;
  outline: none;
}
.toggle-button .toggle-button__bar {
  display: block;
  width: 24px;
  height: 3.2px;
  margin: 4.8px 0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border-radius: 15%;
}
.toggle-button .toggle-button__bar-1--clicked {
  -webkit-animation: toggle-button__bar-1-clicked__animation 0.3s 1 forwards ease-in;
  animation: toggle-button__bar-1-clicked__animation 0.3s 1 forwards ease-in;
}
.toggle-button .toggle-button__bar-2--clicked {
  -webkit-animation: toggle-button__bar-2-clicked__animation 0.3s 1 forwards ease-in;
  animation: toggle-button__bar-2-clicked__animation 0.3s 1 forwards ease-in;
}
.toggle-button .toggle-button__bar-3--clicked {
  -webkit-animation: toggle-button__bar-3-clicked__animation 0.3s 1 forwards ease-in;
  animation: toggle-button__bar-3-clicked__animation 0.3s 1 forwards ease-in;
}
.toggle-button .toggle-button__bar-1--clicked-off {
  -webkit-animation: toggle-button__bar-1-clicked-off__animation 0.3s 1 forwards ease-in;
  animation: toggle-button__bar-1-clicked-off__animation 0.3s 1 forwards ease-in;
}
.toggle-button .toggle-button__bar-2--clicked-off {
  -webkit-animation: toggle-button__bar-2-clicked-off__animation 0.3s 1 forwards ease-in;
  animation: toggle-button__bar-2-clicked-off__animation 0.3s 1 forwards ease-in;
}
.toggle-button .toggle-button__bar-3--clicked-off {
  -webkit-animation: toggle-button__bar-3-clicked-off__animation 0.3s 1 forwards ease-in;
  animation: toggle-button__bar-3-clicked-off__animation 0.3s 1 forwards ease-in;
}

@-webkit-keyframes toggle-button__bar-1-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes toggle-button__bar-1-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
}
@-webkit-keyframes toggle-button__bar-2-clicked__animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes toggle-button__bar-2-clicked__animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes toggle-button__bar-3-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
@keyframes toggle-button__bar-3-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
@-webkit-keyframes toggle-button__bar-1-clicked-off__animation {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes toggle-button__bar-1-clicked-off__animation {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes toggle-button__bar-2-clicked-off__animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toggle-button__bar-2-clicked-off__animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes toggle-button__bar-3-clicked-off__animation {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes toggle-button__bar-3-clicked-off__animation {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.mobile-nav {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.mobile-nav .mobile-nav__background {
  position: absolute;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  background: white;
}
.mobile-nav .mobile-nav__background--open {
  -webkit-transform: translateY(0vh);
  transform: translateY(0vh);
}
.mobile-nav .mobile-nav__background--close {
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
}
.mobile-nav .mobile-nav__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.mobile-nav .mobile-nav__items .mobile-nav__item {
  margin: 32px 0;
}
.mobile-nav .mobile-nav__items .mobile-nav__item a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
.mobile-nav .mobile-nav__items .mobile-nav__item a:hover {
  color: #ed8eba;
}
.mobile-nav .mobile-nav__items--reveal {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.mobile-nav .mobile-nav__items--hide {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.mobile-nav__item-highlight {
  width: 0%;
  height: 3px;
  background: #ed8eba;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  margin-top: 5px;
}

.mobile-nav__item-highlight--active {
  -webkit-animation: mobile-nav__item-highlight-animation 0.4s forwards;
  animation: mobile-nav__item-highlight-animation 0.4s forwards;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-webkit-keyframes mobile-nav__item-highlight-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes mobile-nav__item-highlight-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.mobile-nav__hide {
  display: none;
}

.mobile-nav__open {
  display: -webkit-box;
  display: flex;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
  grid-area: footer;
}
.main-footer .main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.main-footer .main-footer__links .main-footer__link {
  margin: 8px 0;
}
.main-footer .main-footer__links .main-footer__link a {
  color: white;
  text-decoration: none;
}
.main-footer .main-footer__links .main-footer__link a:hover, .main-footer .main-footer__links .main-footer__link a:active {
  color: #ccc;
}

.social-media__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.social-media__links .social-media__links-icon__circle {
  width: 40px;
  height: 40px;
  background: grey;
  margin: 5px 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50%;
}
.social-media__links .social-media__links-icon__circle:hover {
  background-color: #ed8eba;
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.unclickable {
  pointer-events: none;
}

.text-container {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.text-container p {
  margin: 60px 0;
}

.header {
  text-align: center;
}

/*# sourceMappingURL=shared.css.map */
