$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:    
        "main"
        "footer";
}

header {
    a {
        font-weight: 400;
        font-family: Roboto, san-serif;
    }
}

main {
    grid-area: main;

    height: 97%;
    h1 {
        font-family: Bebas Neue, san-serif;
        font-size: 4.5rem;
    }
    h2 {
        font-weight: 900;
        font-family: Roboto, san-serif;
        font-size: 2.2rem;
    }
    h3 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;  
    }
    p {
        font-family: Montserrat, sans-serif;
        line-height: 1.9rem;
    }
}

footer {
    font-family: Montserrat, sans-serif;
    a {
        color: $white;
    }
    .main-footer__copyright {
        color: $grey;
        text-align: center;
    }
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 4.4rem;
    position: fixed;
    top: 0;
    left: 0;

    transition: background-color 300ms;

    z-index: 100;

}

.main-header--transparent {
    background: transparent;
}

.header__element--white {
    background: $white;
}

.header__element--grey {
    background: $grey;
}


.brand {
    margin-right: 10rem;
    margin-bottom: 5px;

    cursor: pointer;
}

.brand img {
    height: 3rem;
}

.image_off, .brand:hover .image_on {
    display: none;
}


.image_on, .brand:hover .image_off {
    display: block;
}

.brand-hover--disable {
    display: block;
}

.brand-alt-hover--disable {
    display: none;
}

.toggle-button {
    background-color: transparent;
    padding: 0;
    outline: none;
    
    border: none;
    cursor: pointer;
    height: 28.75px;
}

.toggle-button__bar {
    display: block;
    width: 100%;
    padding: 0.1rem 0.7rem;
    margin: 0.3rem 0;
    transition: background 0.3s;
    border-radius: 15%;


}


.x-button {
    width: 22.38px;
    height: 28.75px;
    .x-button__line:nth-child(1){
        display: block;
        border-left: 3px solid black;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mobile-nav__background{
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    top: 0;
    transform: translateY(-100vh);
    transition: transform 0.3s linear;
    background: white;
}
.mobile-nav__background--open {
    transform: translateY(0vh);
}
.mobile-nav__background--close {
    transform: translateY(-100vh);
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    // Have to make sure the fadeout is shorter than the time needed to fade out the background.
    transition: opacity 0.2s linear;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu {
    display: flex;
    align-items: center;
    label {
        margin-left: 10px;
        font-size: 1.1rem;
        font-family: Montserrat, sans-serif;
        font-weight: 600;  
        color: $pink;

    }
}

.mobile-nav__items--reveal {
    opacity: 1;
    transition-delay: 0.4s;
}

.mobile-nav__items--hide {
    opacity: 0;
    transition-delay: 0s;
}

.mobile-nav__item {
    margin: 2rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    &:hover {
        color: $pink;
    }
}


.mobile-nav__hide{
    display: none;
}

.mobile-nav__open{
    display: flex;
}


.mobile-nav__items {
    list-style: none;
}

.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
    grid-area: footer;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link {
    margin: 0.5rem 0;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

#social-media__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icon__circle {
    width: 40px;
    height: 40px;
    background: grey;
    margin: 5px 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;

    &:hover {
        background-color: $pink;
        cursor: pointer;
    }
}

.hidden {
    opacity: 0;
}

.unclickable {
    pointer-events: none;
}

.border-close {
    border-width: 0;
}

.font-alt {
    color: black;
    text-shadow: none;
}

.toggle-button__bar-1--clicked {
    animation: toggle-button__bar-1-clicked__animation 0.3s 1 forwards;
}

.toggle-button__bar-2--clicked {
    animation: toggle-button__bar-2-clicked__animation 0.3s 1 forwards;
}

.toggle-button__bar-3--clicked {
    animation: toggle-button__bar-3-clicked__animation 0.3s 1 forwards;
}

.toggle-button__bar-1--clicked-off {
    animation: toggle-button__bar-1-clicked-off__animation 0.3s 1 forwards;
}

.toggle-button__bar-2--clicked-off {
    animation: toggle-button__bar-2-clicked-off__animation 0.3s 1 forwards;
}

.toggle-button__bar-3--clicked-off {
    animation: toggle-button__bar-3-clicked-off__animation 0.3s 1 forwards;
}

.fade-reveal {
    animation: fade-reveal-animation 1s 1 forwards; 
}

@keyframes toggle-button__bar-1-clicked__animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(0.5rem) rotate(45deg);
    }
}

@keyframes toggle-button__bar-2-clicked__animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes toggle-button__bar-3-clicked__animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(-0.5rem) rotate(-45deg);
    }
}

@keyframes toggle-button__bar-1-clicked-off__animation {
    0% {
        transform: translateY(0.5rem) rotate(45deg);
    }
    50% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes toggle-button__bar-2-clicked-off__animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toggle-button__bar-3-clicked-off__animation {
    0% {
        transform: translateY(-0.5rem) rotate(-45deg);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes fade-reveal-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-32px,-32px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(0px,0px);
    }
}

@media only screen and (max-device-width: 1366px) {
    .hero-section .hero-section__image {
      background-attachment: scroll;
    }
  }

  