/* || Colours */
$pink: #ed8eba;
$grey: #424b54;
$white: #ffffff;

/* || General styles */
main {
	margin-top: 70.4px;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

/* || Text */
.text-highlight {
	font-weight: bold;
	border-bottom: 3px solid rgba(240, 116, 35, 1);
}

.text-container {
	p {
		font-size: 0.8rem;
	}
}

/* || Images */
.about-us-img {
	margin-top: 0;
}

.img-container {
	position: relative;

	.img-container__image {
		//100% of the container which is the next block-level element which will take up all available space in the parent container.
		width: 100%;

		// https://stackoverflow.com/questions/7774814/remove-white-space-below-image
		// Images are inline by default. Change it to block to remove space for descenders.
		display: block;
	}
	.img-container__text-overlay {
		// https://stackoverflow.com/questions/7720730/how-to-align-absolutely-positioned-alement-to-center
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;

		h1 {
			margin: 0 0 10% 0;
			color: white;
		}
	}
	.img-container__image-underlay {
		filter: brightness(40%);
	}
}

/* || Social media */
.follow-us__links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;

	i {
		color: white;
		font-size: 1.5rem;

		&:hover {
			color: $pink;
			text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.1);
			transform: scale(1.1);
		}
	}
}

/* || Media queries */
@media (min-width: 1024px) {
	/* Text */
	h1 {
		font-size: 2.7rem;
	}

	.text-wrapper {
		max-height: 300px;
	}

	/* General */
	section {
		margin-top: 0;
		display: flex;
		align-items: center;
	}

	.header-highlight {
		width: 40%;
	}

	.main-footer {
		margin-top: 0;
	}

	/* Swap to grid layout */
	.container {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}

	/* Image and text ordering */
	.about-us {
		order: 1;
	}

	.about-us-img {
		order: 2;
	}

	.stats-img {
		order: 3;
	}

	.stats {
		order: 4;
	}

	.follow {
		order: 5;
	}

	.follow-img {
		order: 6;
	}
}

@media (min-width: 1280px) {
	/* Text */
	h1 {
		font-size: 4.5rem;
	}

	.text-wrapper {
		max-height: 402px;
		padding: 0 30px;
	}
}
