/* || General styles */
.hr-with-logo {
  position: relative;
  text-align: center;
  height: 1px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-collapse: collapse; }

.header {
  margin-top: 75px; }

.committee-container__name {
  text-align: center;
  margin-top: 60px; }

.committee-container__members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }

.member {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 5%; }
  .member .member__photo {
    height: 108px;
    width: 108px;
    margin-bottom: 15px; }
  .member .member__name,
  .member .member__position {
    text-align: center;
    vertical-align: top;
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem; }
  .member .member__position {
    font-weight: 600; }
  .member .member__name {
    margin-top: 5px; }

/* || Images */
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  padding: 0 5px;
  z-index: 1; }

.header-banner {
  background: url("../../images/photos/committee-header.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  width: 100%; }

.vsa-vic-logo {
  background: url("../../images/logos/vsa-vic-logo.png") no-repeat;
  background-size: 100% auto; }

.vsa-monash-logo {
  background: url("../../images/logos/vsa-monash-logo.png") no-repeat;
  background-size: 100% auto; }

.vsa-uom-logo {
  background: url("../../images/logos/vsa-uom-logo.png") no-repeat;
  background-size: 100% auto; }

.vsa-rmit-logo {
  background: url("../../images/logos/vsa-rmit-logo.png") no-repeat;
  background-size: 100% auto; }

/* || Media queries */
@media (min-width: 768px) {
  /* General */
  .committee-container__members .member {
    margin: 20px 0; } }

@media (min-width: 1024px) {
  /* General */
  .committee-container:last-of-type {
    margin-bottom: 75px; }
  .committee-container__members {
    flex-wrap: nowrap; }
  .header-highlight {
    width: 40%; } }
