@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap");
/* || Colours */
/* || General */
section {
  margin: 0; }

.main-footer {
  margin-top: 0; }

/* || Hero Slideshow */
.slideshow__tabs {
  grid-row: row-3-start / row-3-end;
  grid-column: col-start 3 / col-start 13;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.slideshow__tab {
  width: 50px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer; }

.slideshow__tab--active {
  border-bottom: 2.5px solid white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2); }

.hero-section {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: [row-1-start] 65% [row-1-end row-2-start] 25% [row-2-end row-3-start] 10% [row-3-end];
  grid-template-columns: repeat(12, [col-start] 1fr);
  transition: opacity 0.3s linear; }

.hero-section__slideshow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.hero-section__text {
  grid-row: row-1-start / row-2-end;
  grid-column: col-start 1 / col-start 13;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.hero-section__text h1 {
  letter-spacing: 0.2rem;
  text-align: center;
  width: 90%;
  color: #fdfdfd;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
  .hero-section__text h1 .hero-section__text-highlight {
    color: #ed8eba; }

.hero-section__scroll-cta {
  grid-row: row-2-start;
  grid-column: col-start 1 / col-start 13;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around; }
  .hero-section__scroll-cta .scroll-cta__button {
    border: 2px white solid;
    padding: 10px;
    font-family: Roboto, san-serif;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    color: #fdfdfd;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    background: transparent; }
    .hero-section__scroll-cta .scroll-cta__button:hover {
      cursor: pointer;
      background: white;
      text-shadow: none;
      color: black; }
    .hero-section__scroll-cta .scroll-cta__button:focus {
      outline: none; }
  .hero-section__scroll-cta .scroll-cta__arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #fdfdfd;
    border-right: 5px solid #fdfdfd;
    -webkit-animation: scroll-cta__arrow-animation 2s infinite;
    animation: scroll-cta__arrow-animation 2s infinite; }

.slideshow__slide {
  height: 100vh;
  width: 100vw;
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0; }
  .slideshow__slide:nth-child(1) {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url("../../images/photos/hero-image-1.jpg") center center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/photos/hero-image-1.jpg") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  .slideshow__slide:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url("../../images/photos/hero-image-2.jpg") center center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/photos/hero-image-2.jpg") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  .slideshow__slide:nth-child(3) {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url("../../images/photos/hero-image-4.jpg") center center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/photos/hero-image-4.jpg") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  .slideshow__slide:nth-child(4) {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url("../../images/photos/hero-image-3.jpg") center center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/photos/hero-image-3.jpg") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

/* || Hero Slideshow Animations */
@-webkit-keyframes scroll-cta__arrow-animation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-32px, -32px);
    transform: rotate(45deg) translate(-32px, -32px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px); } }

@keyframes scroll-cta__arrow-animation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-32px, -32px);
    transform: rotate(45deg) translate(-32px, -32px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px); } }

/* || Presentation Section */
.presentation-section {
  background: #fdfdfd; }

.presentation-section__intro {
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 75px; }
  .presentation-section__intro h2 {
    color: #ed8eba;
    font-size: 2.2rem; }
  .presentation-section__intro p {
    margin: 0 10%;
    margin-top: 30px;
    text-align: center;
    max-width: 742px; }

.presentation-section__chapters {
  margin-top: 75px;
  overflow: hidden; }
  .presentation-section__chapters h2 {
    color: #2e282a;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 36px; }
  .presentation-section__chapters h3 {
    margin: 0;
    text-align: center; }
  .presentation-section__chapters .chapters__items {
    position: relative;
    margin-top: 16px;
    height: 800px; }
  .presentation-section__chapters p {
    text-align: center;
    padding: 0 5%; }
  .presentation-section__chapters .chapters__header {
    opacity: 0; }

.chapters__item {
  position: absolute;
  width: 100vw;
  height: 25.1%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .chapters__item img {
    max-width: 150px;
    max-height: auto; }
  .chapters__item:nth-child(1) {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  .chapters__item:nth-child(2) {
    top: 25%;
    left: 0%;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  .chapters__item:nth-child(3) {
    top: 50%;
    left: 0%;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  .chapters__item:nth-child(4) {
    top: 75%;
    left: 0%;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }

.presentation-section__index {
  display: block;
  width: 100vw;
  height: 799px;
  margin-top: 75px; }

.presentation-section__latest-events {
  padding: 75px 8%;
  opacity: 0;
  text-align: center;
  background: #222; }
  .presentation-section__latest-events h2 {
    display: inline-block;
    padding-bottom: 5px;
    color: #fdfdfd;
    border-bottom: 3px solid #ed8eba; }

/* || Presentation Section Animations */
.slide-in {
  -webkit-transform: translateX(0vw) !important;
  transform: translateX(0vw) !important; }

.fade-reveal {
  -webkit-animation: fade-reveal-animation 1s 1 forwards;
  animation: fade-reveal-animation 1s 1 forwards; }

@-webkit-keyframes fade-reveal-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-reveal-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* || Index Hyperlink Section */
.index__committee-direct {
  overflow: hidden;
  height: 33.33%;
  position: relative; }
  .index__committee-direct .img-container {
    background: url("../../images/photos/index-1.png") center center;
    background-size: cover;
    width: 100%;
    height: 100%; }

.index__events-direct {
  overflow: hidden;
  height: 33.33%;
  position: relative; }
  .index__events-direct .img-container {
    background: url("../../images/photos/index-2.png") center center;
    background-size: cover;
    width: 100%;
    height: 100%; }

.index__sponsors-direct {
  overflow: hidden;
  height: 33.33%;
  position: relative; }
  .index__sponsors-direct .img-container {
    background: url("../../images/photos/index-3.png") center center;
    background-size: cover;
    height: 100%; }

.direct-button {
  position: absolute;
  color: #fdfdfd;
  border-color: #fdfdfd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
  .direct-button:hover {
    cursor: pointer;
    background: white;
    text-shadow: none;
    color: black;
    border: none; }

/* || What We Have Been Up To Section */
.video-container {
  max-width: 622px;
  margin: 0 auto;
  width: 100%;
  height: auto; }
  .video-container .video-container__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    margin-top: 30px;
    height: 0;
    box-shadow: 5px 5px 8px #02020269; }
    .video-container .video-container__wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.latest-events__latest-event {
  display: flex;
  justify-content: center; }

.latest-event__wrapper {
  position: relative;
  margin-top: 75px;
  width: 315px; }

.latest-event__poster {
  width: 100%;
  cursor: pointer;
  max-height: 375px;
  width: auto;
  box-shadow: 5px 5px 8px #02020269; }

.latest-event__poster-badge {
  position: absolute;
  top: -4%;
  left: -3%;
  color: #fdfdfd;
  padding: 10px 20px 10px 20px;
  width: 150px;
  background: linear-gradient(to right, #ed8eba, #eb9ec3);
  box-shadow: 5px 5px 8px #21212169;
  font-family: Roboto, san-serif;
  font-weight: 600;
  font-size: 1rem; }

/* || Media queries */
@media (min-width: 768px) {
  /* Hero Slideshow */
  .scroll-cta__button {
    font-size: 1.5rem !important;
    padding: 15px !important; }
  /* Presentation Section */
  .chapters__items {
    display: flex;
    width: 100%;
    height: auto !important;
    opacity: 0; }
  .chapters__item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: 25vw;
    transform: none !important;
    height: 200px !important; }
  /* Index Hyperlink Section */
  .presentation-section__index {
    display: grid;
    grid-template-rows: [row-1-start] 1fr [row-1-end row-2-start] 1fr [row-2-end];
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 1fr [col-2-end];
    grid-template-areas: 'index-1 index-2' 'index-3 index-3'; }
  .index__committee-direct {
    grid-area: index-1;
    height: 100%; }
  .index__events-direct {
    grid-area: index-2;
    height: 100%; }
  .index__sponsors-direct {
    grid-area: index-3;
    height: 100%; } }

@media (min-width: 1280px) {
  /* Hero Slideshow */
  .slideshow__tabs {
    grid-column: col-start 2 / col-start 6;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* What We Have Been Up To Section */
  .latest-events-filter-container {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto; }
  .video-container {
    margin: 0; }
  .latest-event__wrapper {
    margin-top: 30px; } }
