@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Bebas+Neue|Roboto:400,900&display=swap");
* {
  box-sizing: border-box; }

html {
  height: 100%;
  scroll-behavior: smooth; }

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'main' 'footer'; }

header .main-nav__item {
  font-weight: 600;
  font-family: Montserrat, san-serif; }

header .mobile-nav__item {
  font-weight: 400;
  font-family: Montserrat, san-serif; }

main {
  grid-area: main; }
  main h1 {
    font-family: Bebas Neue, san-serif;
    font-size: 4.5rem; }
  main h2 {
    font-weight: 900;
    font-family: Roboto, san-serif;
    font-size: 2.2rem; }
  main h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.4rem; }
  main h4 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1rem; }
  main p,
  main ul {
    font-family: Montserrat, sans-serif;
    line-height: 1.9rem;
    font-size: 1rem; }
  main a {
    font-weight: 400;
    font-family: Roboto, san-serif; }

.container {
  height: 100%;
  width: 100%; }

::selection {
  background: #ed8eba;
  /* WebKit/Blink Browsers */
  color: white; }

.main-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  width: 100vw;
  height: 70.4px;
  position: fixed;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  z-index: 100; }

.main-header--transparent {
  background: transparent; }

.header__element--white {
  background: #fdfdfd; }

.header__element--grey {
  background: #424b54; }

.main-header__brand {
  cursor: pointer;
  margin-right: 160px;
  margin-bottom: 5px; }
  .main-header__brand img {
    height: 3rem; }

.image_off,
.main-header__brand:hover .image_on {
  display: none; }

.image_on,
.main-header__brand:hover .image_off {
  display: block; }

.brand-hover--disable {
  display: block; }

.brand-alt-hover--disable {
  display: none; }

.main-header__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

.main-nav {
  display: none; }

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 6px; }

.main-nav__item {
  margin: 0 1rem;
  position: relative; }
  .main-nav__item:hover a:after {
    right: 0; }

.main-nav__item-text--alt {
  color: white; }

.main-nav__item-text--original {
  color: black; }

.main-nav__item-text {
  text-decoration: none;
  transition: color 0.2s;
  padding: 0.2rem 0; }
  .main-nav__item-text:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 100%;
    border-bottom: 2px solid #ed8eba;
    transition: right 0.5s; }

.main-nav__item-text:hover,
.main-nav__item:active {
  color: #ed8eba; }

.toggle-button {
  cursor: pointer;
  background-color: transparent;
  height: 28.75px;
  padding: 0;
  border: none;
  outline: none; }
  .toggle-button:hover .toggle-button__bar {
    background-color: #ed8eba; }
  .toggle-button .toggle-button__bar {
    display: block;
    width: 24px;
    height: 3.2px;
    margin: 4.8px 0;
    border-radius: 15%;
    transition: background-color 0.2s; }
  .toggle-button .toggle-button__bar-1--clicked {
    -webkit-animation: toggle-button__bar-1-clicked__animation 0.2s 1 forwards ease-in;
    animation: toggle-button__bar-1-clicked__animation 0.2s 1 forwards ease-in; }
  .toggle-button .toggle-button__bar-2--clicked {
    -webkit-animation: toggle-button__bar-2-clicked__animation 0.2s 1 forwards ease-in;
    animation: toggle-button__bar-2-clicked__animation 0.2s 1 forwards ease-in; }
  .toggle-button .toggle-button__bar-3--clicked {
    -webkit-animation: toggle-button__bar-3-clicked__animation 0.2s 1 forwards ease-in;
    animation: toggle-button__bar-3-clicked__animation 0.2s 1 forwards ease-in; }
  .toggle-button .toggle-button__bar-1--clicked-off {
    -webkit-animation: toggle-button__bar-1-clicked-off__animation 0.2s 1 forwards ease-in;
    animation: toggle-button__bar-1-clicked-off__animation 0.2s 1 forwards ease-in; }
  .toggle-button .toggle-button__bar-2--clicked-off {
    -webkit-animation: toggle-button__bar-2-clicked-off__animation 0.2s 1 forwards ease-in;
    animation: toggle-button__bar-2-clicked-off__animation 0.2s 1 forwards ease-in; }
  .toggle-button .toggle-button__bar-3--clicked-off {
    -webkit-animation: toggle-button__bar-3-clicked-off__animation 0.2s 1 forwards ease-in;
    animation: toggle-button__bar-3-clicked-off__animation 0.2s 1 forwards ease-in; }

@-webkit-keyframes toggle-button__bar-1-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  100% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); } }

@keyframes toggle-button__bar-1-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  100% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); } }

@-webkit-keyframes toggle-button__bar-2-clicked__animation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes toggle-button__bar-2-clicked__animation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes toggle-button__bar-3-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); } }

@keyframes toggle-button__bar-3-clicked__animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); } }

@-webkit-keyframes toggle-button__bar-1-clicked-off__animation {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes toggle-button__bar-1-clicked-off__animation {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes toggle-button__bar-2-clicked-off__animation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes toggle-button__bar-2-clicked-off__animation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes toggle-button__bar-3-clicked-off__animation {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes toggle-button__bar-3-clicked-off__animation {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.mobile-nav {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .mobile-nav .mobile-nav__background {
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    background: white; }
  .mobile-nav .mobile-nav__background--open {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); }
  .mobile-nav .mobile-nav__items {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
    .mobile-nav .mobile-nav__items .mobile-nav__item {
      margin: 8% 0; }
      .mobile-nav .mobile-nav__items .mobile-nav__item:hover .mobile-nav__item-highlight {
        animation: mobile-nav__item-highlight-animation 0.4s forwards; }
      .mobile-nav .mobile-nav__items .mobile-nav__item a {
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        transition: color 0.2s; }
        .mobile-nav .mobile-nav__items .mobile-nav__item a:hover {
          color: #ed8eba; }
  .mobile-nav .mobile-nav__items--reveal {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; }

.mobile-nav__item--current {
  color: #e94c95 !important;
  font-weight: 600; }

.mobile-nav__item-highlight {
  width: 0%;
  height: 3px;
  background: #ed8eba;
  margin-top: 5px;
  margin-left: 10%;
  -webkit-animation: mobile-nav__item-highlight-animation--out 0.4s;
  animation: mobile-nav__item-highlight-animation--out 0.4s; }

.mobile-nav__social-media {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 10%;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }
  .mobile-nav__social-media a {
    text-decoration: none;
    color: white; }
  .mobile-nav__social-media i {
    width: 30px;
    height: 30px;
    background: grey;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: background 0.2s; }
    .mobile-nav__social-media i:hover {
      background-color: #ed8eba;
      cursor: pointer; }

@-webkit-keyframes mobile-nav__item-highlight-animation {
  0% {
    width: 0%; }
  100% {
    width: 80%; } }

@keyframes mobile-nav__item-highlight-animation {
  0% {
    width: 0%; }
  100% {
    width: 80%; } }

@keyframes mobile-nav__item-highlight-animation--out {
  0% {
    width: 80%; }
  100% {
    width: 0%; } }

.mobile-nav__hide {
  display: none; }

.mobile-nav__open {
  display: -webkit-box;
  display: flex; }

.main-footer__logo {
  width: 75px;
  height: auto;
  margin-top: 16px;
  cursor: pointer; }

.main-footer {
  background: transparent;
  margin-top: 75px;
  margin-bottom: 16px;
  grid-area: footer;
  text-align: center; }
  .main-footer .main-footer__cta {
    background-color: black;
    color: white;
    padding: 30px 0;
    text-transform: uppercase;
    font-family: Bebas Neue, san-serif;
    letter-spacing: 1px; }
  .main-footer .main-footer__copyright {
    font-family: Roboto, sans-serif;
    color: #424b54;
    font-size: 0.7rem;
    margin-top: 32px;
    margin-bottom: 0px; }
  .main-footer .main-footer__watermark {
    font-family: Montserrat, sans-serif;
    font-size: 0.6rem;
    color: #59636d;
    margin-top: 16px; }
  .main-footer .main-footer__links {
    font-family: Roboto, sans-serif;
    list-style: none;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 0px; }
    .main-footer .main-footer__links .main-footer__link {
      margin-bottom: 1%; }
      .main-footer .main-footer__links .main-footer__link a {
        font-size: 0.8rem;
        color: black;
        text-decoration: none;
        text-transform: uppercase; }
        .main-footer .main-footer__links .main-footer__link a:hover {
          color: #ed8eba; }

.main-footer__social-media {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  margin: 32px auto 0px auto;
  width: 200px; }
  .main-footer__social-media .main-footer__social-media-link i {
    font-size: 1.1rem;
    color: black; }
    .main-footer__social-media .main-footer__social-media-link i:hover {
      cursor: pointer;
      color: #424b54; }

.hidden {
  opacity: 0; }

.unclickable {
  pointer-events: none; }

.text-container {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center; }
  .text-container p {
    margin: 32px 0; }

.header {
  text-align: center;
  margin: 0; }

section {
  margin-top: 75px; }

.header-highlight {
  margin: 0 auto;
  height: 4px;
  width: 40%;
  background-color: #ed8eba; }

.default-cta__button {
  border: 2px #424b54 solid;
  padding: 18px;
  font-family: Roboto, san-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #424b54;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }
  .default-cta__button i {
    margin-left: 10%; }
  .default-cta__button:hover {
    cursor: pointer;
    border-color: #ed8eba;
    color: #ed8eba; }
  .default-cta__button:focus {
    outline: none; }

.social-media__fb:hover {
  color: #3b5998; }

.social-media__ig:hover {
  color: #e1306c; }

.social-media__li:hover {
  color: #2867b2; }

.social-media__yt:hover {
  color: #ff0000; }

@media (min-width: 750px) {
  .main-header__menu {
    display: none; }
  .main-nav {
    display: flex; }
  .main-header__brand {
    margin-right: 0; }
  .main-nav__item:hover .mobile-nav__item-highlight {
    animation: mobile-nav__item-highlight-animation 0.4s forwards; }
  .header-highlight {
    width: 150px; } }

@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    max-width: 1440px; } }
