/* || General */
.sponsor-year {
  text-align: center;
  margin-bottom: 1%; }

#sponsor-grid {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #sponsor-grid .sponsor-grid__sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8% 0; }
    #sponsor-grid .sponsor-grid__sponsor h3 {
      margin-top: 8%;
      margin-bottom: 3%; }
    #sponsor-grid .sponsor-grid__sponsor p {
      margin: 0 0; }

.sponsor-grid__sponsor-image {
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: 0.3s; }
  .sponsor-grid__sponsor-image:hover {
    transform: scale(1.1);
    filter: grayscale(100%); }

.disclaimer {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic; }

.sponsor-instruction {
  text-align: center;
  font-size: 0.8rem;
  margin: 0; }

/* || Media queries */
@media (min-width: 1024px) {
  #sponsor-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 100px; } }
